body {
  min-width: 420px;
  font-family: "Yantramanav", sans-serif;
}

#middle {
  background-color: #eeeeee;
}

.dark {
  background-color: #2E2E2F;
}

.lightDivider {
  border-color: white;
}

.muted-text {
  color: #D4D4D4;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

.light-icons {
  color: #4b4b4b;
}
.light-icons:hover,
.light-icons:focus,
.light-icons:active {
  color: #1a1a1a;
}

.dark-icons {
  color: #616161;
}
.dark-icons:hover,
.dark-icons:focus,
.dark-icons:active {
  color: #757575;
}